* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .container {
    max-width: 1670px;
    margin: 0 auto;
} */

body {
    background-color: #f0efef;
}

header {

    .logo {
        background-color: #b36500;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin-right: 1rem;
            width: 50px;
            height: 50px;
        }

        h1 {
            color: white;
            text-align: center;
        }
    }

       nav {
            background-color: white;

            .menu {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 45px;
                list-style: none;
                margin: 0;
                padding: 0;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

                    li {
                        position: relative;
                        list-style: none;

                        a {
                            padding-left: 2rem;
                            padding: 8px 16px;
                            display: inline-block;
                            text-decoration: none;
                            color: black;
                            transition: background-color 0.3s ease, color 0.3s ease;

                            &:hover {
                            background-color: #b36500;
                            color: white;
                            border-radius: 2px;
                            }
                        }

                        .dropdown-content {
                            width: 180px;
                            font-size: 15px;
                            display: none;
                            position: absolute;
                            background-color: white;
                            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
                            z-index: 1;
                            /* padding: 0;
                            margin: 0; */

                            li {
                                list-style: none;

                                a {
                                    /* padding: 12px 16px; */
                                    display: block;
                                    color: black;
                                    text-decoration: none;
                                    /* width: 100%; */

                                    &:hover {
                                        background-color: #b36500;
                                        color: white;
                                    }
                                }
                            }
                        }

                        &:hover .dropdown-content {
                            display: block;
                        }
            }
         } 
 
    }       
}

    



            
    


/* section image */

.image {
    margin-top: 1rem;
    /* background-color: #ffffff; */
    height: 700px;

    .img-content {
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    
        .img-left {

        
            .img-con {
                /* max-width: 1100px; */
                
                
                .iframe-box {
                    background-color: white;
                    height: 320px;
                    padding: 1rem;
                    border-radius: 12px;
                    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

                    h2 {
                        font-size: 20px;
                        padding-bottom: 1rem;
                    }

                    iframe {
                        width: 262px;
                        height: 250px;
                    }
                }
            }

            .other-box {
                margin-top: 1rem;
                background-color: white;
                height: 250px;
                padding: 1rem;
                border-radius: 12px;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

                h2 {
                    font-size: 20px;
                    /* padding-bottom: 1rem; */
                }

                ul {
                    padding-left: 1rem;

                    li {
                        color: #0056b3;
                        padding-top: 1rem;

                        a {
                            color: #0056b3;
                            text-decoration: none;

                        }

                        :hover {
                            color: #0056b3;
                            text-decoration: underline;
                        }
                    }
                }
            }
        } 

        .test-middle {
            /* max-width: 700px;
            margin: auto; */

           h2 {
                text-align: center;
            }

            .test-box {
                

                ul {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 15px;
                    margin-top: 30px;
                    
                    li {
                        list-style: none;
                        
                        
                        a {
                            background-color: white;
                            text-decoration: none;
                            display: block;            
                            padding: 15px;            
                            border-radius: 8px;        
                            box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
                            color: #333;               
                            transition: 0.3s;

                            &:hover {
                                background-color: #f0f0f0;
                                color: #007bff;
                            }
                        }
                    }    
                }
            }
        }

        /* padding: 15px;
                    border-radius: 8px;
                    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
                    text-align: center;
                    transition: 0.3s;
                    cursor: pointer;
                    color: #007bff;
                    text-decoration: none; */
        
        .link-right {
            width: 270px;

            .link-con {

                .link-box {
                    background-color: white;
                    height: 270px;
                    padding: 1rem;
                    border-radius: 12px;
                    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

                    h2 {
                        font-size: 20px;
                    }

                    ul {
                        padding-left: 1rem;

                        li {
                            color: #0056b3;
                            padding-top: 1rem;

                            a {
                                font-size: 15px;
                                color: #0056b3;
                                text-decoration: none;
                                
                            }

                            :hover {
                                color: #0056b3;
                                text-decoration: underline;
                            }
                        }
                    }


                }

                .time-box {
                    margin-top: 1rem;
                    background-color: white;
                    height: 110px;
                    padding: 1rem;
                    border-radius: 12px;
                    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

                    h2 {
                        font-size: 20px;

                    }

                    .clock {
                        padding-top: 10px;
                        display: flex;
                        justify-content: center;
                        font-size: 25px;
                    }
                }

                .login-box {
                    margin-top: 1rem;
                    background-color: white;
                    height: 70px;
                    padding: 1rem;
                    border-radius: 12px;
                    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

                    .login-btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        background-color: #b36500;
                        color: white;
                        padding: 10px 10px;
                        border-radius: 5px;
                        transition: color 0.3s ease;

                    }
                }
            }
        }
    }   
    
}

.footer-by {
    display: flex;
    justify-content: center;
    

    p {
        text-align: center;
        font-size: 13px;
        color: #727272;

    }
}